*{
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif;
}


/* Header */
.header{
    width: 100%;
    height: 130px;
    background-color: #333;
    left: 0;
    top: 0;
    position: fixed;
    box-shadow: -1px 5px 5px rgb(29, 29, 29);
}

body{
    padding-top: 130px;
}

#image{
    margin: 15px;
    padding-top: 19px;
    padding-left: 75px;
    float: left;
}

h1{
    padding-left: 75px;
    padding-top: 45px;
    font-size: 30px;;
}

h1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 a:hover{
    color: burlywood;
}


/* Menú Principal */
nav{
    float: right;
    padding-top: 50px;
    font-size: 15px;
    padding-right: 75px;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-right: 15px;
} 

nav ul li a{
    text-decoration: none;
    color: rgb(209, 209, 209);
}

nav ul li a:hover{
    text-decoration: underline;
    color: burlywood;
}


/* Divisiones */


#div12{
    float: none;
    width: auto;
    height: 1200px;
    background-color: #333;
    color: rgb(238, 232, 232);
    margin: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 35px;
    box-shadow: -2px -2px 2px 2px rgba(14, 13, 13, 0.836);
}

#subTitle{
    padding-top: 25px;
    padding-bottom: 15px;
}

#services{
    border-radius: 20px;
    padding-left: 25px;
    width: 80%;
    height: 50%;
    padding-bottom: 15px;
    padding-top: 5px;
}

.cajas{
    display:flex;
    text-align: center;
    justify-content: center;
    height: 200px;
}

.cajas img{
    padding-top: 10px;
    width: 60%;
}
.cajas img:hover{
    border-radius: 15px;
}
.cajas #caja2 img{
    padding-top: 29px;
}
#caja1 {
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    color: rgb(71, 70, 70);
}

#caja1 h4{
    padding-top: 10px;
    padding-bottom: 8px;
}
#caja1 h4:hover{
    text-decoration: underline;
    color: burlywood;
}

#caja2{
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    color: rgb(71, 70, 70);
    }

#caja2 h4{
    padding-top: 10px;
    padding-bottom: 8px;
}
#caja2 h4:hover{
    text-decoration: underline;
    color: burlywood;
}

#caja3{
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    color: rgb(71, 70, 70);
}

#caja3 h4{
    padding-top: 10px;
    padding-bottom: 8px;
}
#caja3 h4:hover{
    text-decoration: underline;
    color: burlywood;
}

/* Separador */
#separador{
    width: 100%;
    height: 25px;
    background-color:white;
}


/* Footer */
.footter{
    color: white;
    background-color: rgb(126, 121, 121);
}

.redesSociales{
    width: 100%;
    height: 200px;
    box-shadow: 0px -5px 5px rgb(131, 134, 134);
}

#red1{
    width: 150px;
    padding-top: 15px;
    padding-right: 60px;
}

#red2{
    width: 150px; 
    padding-top: 15px;
    padding-right: 60px;
}

#red3{
    width: 150px;
    padding-top: 15px;
}

footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration:underline;
    color: burlywood;
}

footer h3{
    text-align: center;
    padding-top: 10px;
}

.redes1{
    padding-top: 30px;
    display:flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}